body {
    display: block;
    overflow-x: hidden;
    background-color: rgba(100, 125, 125, 0.026);
}

.selector-for-google-maps {
    box-sizing: context-box;
}

nav {
    background-color: white;
}

.navbar-brand img {
    max-height: 55px;
    border-radius: 15%;
}

.navbar-brand {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 900;
    color: #683aa4;
}

nav ul li a {
    color: #a9a9a9;
    font-size: 22px;
    margin: auto 10px;
}

nav ul li a:hover {
    color: #683aa4;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

section h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: #683aa4;
    text-align: left;
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    font-weight: 300;
}

button {
    max-width: 50%;
    border-radius: 30px !important;
}

.my { border-radius: 1rem; }
.my-top { 
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
 }

#hero .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero .img-col {
    justify-content: flex-end;
    margin-top: 100px;
}

#hero img {
    max-width: 130% !important;
    width: 130%;
    border-radius: 1rem;
    margin-bottom: 50px;
}

#hero .card {
    box-shadow: 11px 7px 16px #f9f9f9;
    border: 0;
    text-align: center;
}

#hero .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10%;
}

#logoimg {
    border-radius: 8px;
    background: url(./logo3.png);
    width: 70px;
    height: 50px;
}

#projects .projects {
    margin-bottom: 50px;
}

#contact{
    text-align: center;
    background-color: #683aa4;
    color: white;
}
#contact h1 {
    text-align: center;
    color: white;
}